*.gem
*.rbc
.bundle
.config
coverage
InstalledFiles
lib/bundler/man
src/log/*
src/tmp/*
pkg
rdoc
spec/reports
test/tmp
test/version_tmp
tmp

configs/
deploy/
# YARD artifacts
.yardoc
_yardoc
doc/
src/file_repo/
.DS_Store
*.backup
