body { font-size: 1em;}

@media (min-height: 333px) {
    html { font-size: 16px; }
}

@media (min-height: 666px) {
    html { font-size: 33px; }
}

@media (min-height: 1000px) {
    html { font-size: 50px; }
}

* {
	margin: 0; padding: 0
}

html, body {
	background-color: black;
/* 	background: url('../images/apple-texture.jpg'); */
	background: url('/img/apple-texture.jpg');
}

body {
	font-family: "Gill Sans", sans-serif;
	color: white;
	font-size: 5vh;
}

img, ol, ul, p {
	margin: auto;
	width: 80%;
	display: block;
}

h1, h2, h3, h4, h5, h6 {
	font-size: 2em;
	font-size: 10vmin;
	text-align: center;
	white-space: nowrap;
	margin: 0.5em auto 0.5em auto;
	text-shadow: 0.05em 0.05em 0.1em black;
	width: 80%;
}

h1:only-child, h2:only-child, h3:only-child, h4:only-child, h5:only-child, h6:only-child {
	font-size: 2.5em;
	font-size: 12.5vmin;
	position: relative;
	top: 2em;
	top: 20vh;
	white-space: normal;
}

img {
	max-width: 80%;
	max-height: 14em;
	max-height: 70vh;
	width: auto;
	height: 14em;
	height: 70vh;
	box-shadow: 0.2em 0.2em 0.4em black;
}

ol li, ul li {
	font-size: 1.5em;
	font-size: 7.5vh;
	padding: 0.2em;
	padding: 1vh;
}

p {
	font-size: 1.2em;
	font-size: 6vh;
	font-family: serif;
	line-height: 130%;
}

#preloader {
	position: absolute;
	left: 8000px;
	right: 5000px;
}
