<body>
  <h1>This is <%= @user %>'s Slide shows.</h1>

<% Dir.entries(@path).each do |e|%>
   <%=
        if e.to_s[0] != '.'
          "<p><a href=\"/#{@user}/#{e.to_s}\">#{e.to_s}</a></p>"
        else
          ""
        end
    %>
<% end %>

</body>
