<!doctype html>
<html>
  <head>
  	<link rel="stylesheet"type="text/css" href="/css/reset.css">
  	<link rel="stylesheet"type="text/css" href="/css/main.css">
</head>
  <body>
  	<div id="welcome" class="wrapper">
    <div id="title"><h1>Welcome to <%= @user %>'s show!</h1></div>

	<div class="qrcode" >
		<table>
			<% @qr.modules.each_index do |x| %>
			<tr>  
			<% @qr.modules.each_index do |y| %>
			<% if @qr.dark?(x,y) %>
			 <td class="black"/>
			<% else %>
			 <td class="white"/>
			<% end %>
			<% end %>
			</tr>
			<% end %>
		</table>
	</div>

	<div class="shorturl">
		<h2>http://sldn.me/4444</h2>
	</div>
	</div><!-- #welcome end -->
  </body>
</html>
