@font-face {
  font-family: 'Droid Sans';
  font-style: normal;
  font-weight: normal;
  src: local('Droid Sans'), local('DroidSans'), url('DroidSans.woff') format('woff');
}

@font-face {
  font-family: 'Expletus Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Expletus Sans'), local('ExpletusSans'), url('ExpletusSans.woff') format('woff');
}



@media (min-height: 333px) {
    html { font-size: 16px; }
}

@media (min-height: 666px) {
    html { font-size: 33px; }
}

@media (min-height: 1000px) {
    html { font-size: 50px; }
}

html, body {
  background-color: black;
  background: url('/img/apple-texture.jpg');
}

body { 
  font: 1em 'Droid Sans', 'Helvetica Neue', Arial, sans-serif;
  color: #97c5e1;
  font-size: 5vh;
}

img, ol, ul, p {
  margin: auto;
  width: 80%;
  display: block;
}

h1, h2, h3, h4, h5, h6 {
  font-size: 2em;
  font-size: 10vmin;
  text-align: center;
  white-space: nowrap;
  margin: 0.5em auto 0.5em auto;
  text-shadow: 0.05em 0.05em 0.1em black;
  width: 80%;
  color: #ddd;
}

h1:only-child, h2:only-child, h3:only-child, h4:only-child, h5:only-child, h6:only-child {
  font-size: 2.5em;
  font-size: 12.5vmin;
  position: relative;
  top: 2em;
  top: 20vh;
  white-space: normal;
}

img {
  max-width: 80%;
  max-height: 14em;
  max-height: 70vh;
  width: auto;
  height: 14em;
  height: 70vh;
  box-shadow: 0.2em 0.2em 0.4em black;
}

ol li, ul li {
  font-size: 1.5em;
  font-size: 7.5vh;
  padding: 0.2em;
  padding: 1vh;
}

p {
  font-size: 1.2em;
  font-size: 6vh;
  line-height: 130%;
}

/* navigation bar */
nav#helpers {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  text-align: center;
  position: fixed;
  bottom: 0;
  z-index: 10;
  left: 50%;
  margin-left: -200px;
  width: 400px;
  background-color: black;
  opacity: 0.1;
}
nav#helpers:hover {
  opacity: 0.6;
}
nav#helpers button {
  background: none;
  border: none;
  color: white;
  cursor: pointer;
}
.toc {
  font-size: 10px;
  position: relative;
  top: -3px;
}
nav#helpers button {
  font-size: 20px;
}
nav#helpers button#slide-no {
  font-size: 10px;
  border: 1px solid white;
  padding: 4px;
  margin-bottom: 4px;
}
#nav-next {
  margin-right: 20px;
}
menu {
  display: inline;
}
