/* opening.erb */
html, body {
    font-family: sans-serif;
    background-color: black;
    color: #333;
    background: url('/img/cinema.jpg') no-repeat center bottom fixed;
    background-size: cover;
}

div.centered {
    display: block;
    position: absolute;
    top: 60%;
    width: 100%;
    margin: auto;
    text-align: center;
    background-color: rgba(255,255,255,0.2);
    color: white;
}

div.centered h1 {
    font-size: 2em;
    font-weight: bold;
    padding: 0.67em 0;
}

/* login.erb */
#main {
    width: 426px;
    margin: 100px auto 0 auto;
    background-color: inherit;
}

h1 {
    font-family: "Lucida Calligraphy", "Gabriola", "Curlz MT";
    font-size: 60px;
    color: white;
    text-shadow: 0 2px 10px black;
    text-align: center;
    margin-top: 100px;
}

.role {
    display: inline-block;
    padding: 30px;
    background: #fff;
    border-radius: 5px;
    border: 1px solid rgba(128, 128, 128, 0.3);
    width: 128px;
    background: -webkit-linear-gradient(top, rgba(0,0,0,0.3) 0%,rgba(255,255,255,0.6) 100%);
 /* Chrome10+,Safari5.1+ */
    background: linear-gradient(to bottom, rgba(0,0,0,0.3) 0%,rgba(255,255,255,0.6) 100%);
 /* W3C */;
}

#audience {
    margin: 0 19px 0 auto;
}

#speaker {
    margin: 0 auto 0 19px;
}

#qrcode {
    background-color: white;
    margin-top: 10px;
    padding: 10px;
}

input {
    font-family: monospace;
}

footer {
    width: 100%;
    margin: 0 auto 0 auto;
    text-align: center;
    position: absolute;
    bottom: 100px;
}

footer a {
    display: inline-block;
    color: white;
    text-decoration: none;
    font-family: "Rockwell", "Palatino", serif;
    font-size: 150%;
    margin: auto;
    padding: 0 20px 0 20px;
}

footer a:hover {
    text-shadow: 0 0 5px #fff700;
}