#prev_page {
  position: absolute;
  left: 8000px;
  right: 5000px;
}

#preloader {
  position: absolute;
  left: 8000px;
  right: 5000px;
}

/* navigation bar */
nav#helpers {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  text-align: center;
  position: fixed;
  bottom: 0;
  z-index: 10;
  left: 50%;
  margin-left: -200px;
  width: 400px;
  background-color: black;
  opacity: 0.1;
}
nav#helpers:hover {
  opacity: 0.6;
}
nav#helpers button {
  background: none;
  border: none;
  color: white;
  cursor: pointer;
}
.toc {
  font-size: 10px;
  position: relative;
  top: -3px;
}
nav#helpers button {
  font-size: 20px;
}
nav#helpers button#slide-no {
  font-size: 10px;
  border: 1px solid white;
  padding: 4px;
  margin-bottom: 4px;
}
#nav-next {
  margin-right: 20px;
}
menu {
  display: inline;
}